#Ex: 3001
PORT=

#ex: * or http://localhost:3000
CORS_ORIGIN=

#ex: mongodb://127.0.0.1:27017/
MONGO_HOST=

#ex: condominium
MONGO_DATABASE=

#ex: mysecret
JWT_SECRET=

#ex: in seconds, 1800s = 30 min
JWT_EXPIRES=